@model AptechProject.Models.Ranking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ranking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SurveyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurveyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SurveyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurveyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentRollNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentRollNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prize)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
