@model IEnumerable<AptechProject.Models.FAQ>
    @using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}



@if (User.IsInRole("admin"))
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}



<h1>Frequently Asked Questions</h1>
<hr />
<div class="row">

    @foreach (var item in Model)
    {
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h4>Q: @Html.DisplayFor(modelItem => item.Question)</h4>
        <p>A: @Html.DisplayFor(modelItem => item.Answer)</p>
        @if (User.IsInRole("admin"))
        {
            @Html.ActionLink("Edit ", "Edit", new { id = item.Id })
            @Html.ActionLink("| Delete", "Delete", new { id = item.Id })
        }
        <hr />
    </div>
    }

</div>
